*{
  box-sizing: border-box;
}

form{
  width: 50%;
  margin:auto;
  border:1px black solid;
  padding-left: 10px;
}

input[type="range"]{
  width: 340px;
}
datalist{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 20px;
}

.form-actions{
  padding: 10px 10px;
}


