*{
    box-sizing: border-box;
}

main{
    margin:5% 10%;
}

h1,h2{
    text-align: center;
}

header{
    font-size:0;
    height:100px;
}

.logo{
    display: inline-block;
    width:calc((100%/3)*2);
    text-align: right;
}
nav{
    display: inline-block;
    width:calc(100%/3);
    height:100%;
    vertical-align: top;
}

nav li{
    display: inline-block;
    width:calc(100%/5);
    height: 100%;
    border: 1px gainsboro solid;
    border-right: 0px;
}

nav li:last-child{
    border-right:1px gainsboro solid;
}

nav li a{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    font: 16px sans-serif;
    color: black;
    text-decoration: none;
}

nav ul{
    height:100%;
    padding:0;
}

img.article-carphoto{
    display: block;
    margin: 0 auto;
}

.fa-angles-up{
    font-size:64px;
    color:blue;
}

div.back-tomenu{
    margin: 30px 0;
    text-align: center;
}

footer{
    border-top:1px gainsboro solid;
    padding-top: 10px;
}

.footer-item{
    display: flex;
    justify-content: center; 
    align-items: center;  
    margin-bottom: 2px;   
}

a.footer-item{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration:underline;
    color:blue;
}

table{
    margin: 40px auto 0;
}

table,td,th{
    border: 2px darkcyan solid;
}




