*{
    box-sizing: border-box;
}

main{
    margin:5% 0е;
}

h1,h2{
    text-align: center;
}

header{
    display: flex;
    font-size:0;
    height:100px;
    width: 100%;
    position: sticky;
    background-color:#fff;
    top:0;
    z-index: 10;
}

.logo{
    flex-grow: 1;
    text-align: right;
}
nav{
    flex-grow:2;
}

nav li{
    flex-grow: 1;
    height: 100%;
    border: 1px gainsboro solid;
    border-right: 0px;
}

nav li:last-child{
    border-right:1px gainsboro solid;
}

nav li a{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    font: 16px sans-serif;
    color: black;
    text-decoration: none;
}

nav ul{
    display: flex;
    justify-content: space-between;
    height:100%;
    padding:0;
}

img.article-carphoto{
    display: block;
    margin: 0 auto;
}

.fa-angles-up{
    font-size:64px;
    color:blue;
}

div.back-tomenu{
    margin: 30px 0;
    text-align: center;
}

footer{
    border-top:1px gainsboro solid;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 2px;
}


a.footer-item{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration:underline;
    color:blue;
}

table{
    margin: 40px auto 0;
}

table,td,th{
    border: 2px darkcyan solid;
}




